@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 210 100% 50%; /* Dark Sky Blue */
    --primary-foreground: 60 9.1% 97.8%;

    /* Other default colors from shadcn */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --radius: 0.5rem;
  }
 
  .dark {
    /* Define your dark mode colors here if needed */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 100% 50%; /* Dark Sky Blue */
    --primary-foreground: 60 9.1% 97.8%;
  }
}